.menu {
    display: flex;
    justify-content: center;
    flex-shrink: 1;
    position: fixed;
    top: 0;
    width: 70%;
    z-index: 3;


}

.menu a {
    flex-shrink: 1;
    font-size: 20px;
    flex-direction: row;
    border-style: groove;
    border-color: darkslateblue;
    background-color: #000000;
    list-style-type: none;
    text-align: center;
    color: aliceblue;
    padding: 2%
}

.menu a:hover {
    color: #33ff33;
}

.menu a.is_current {

    background-color: lightblue;
    color: black;
    padding: 2%;
}