body {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    background-color: #d9d9c4;
    width: 70%;
    margin-left: 15%;
}

section {
    border-top-style: double;
    display: flex;
    flex-direction: row;
    margin-bottom: 1%;
    margin-top: 1%;
    flex-wrap: wrap;
    align-self: auto;
    flex-shrink: 1;
}

h1{
   text-align: center;
    margin-top: 6.9%
}

h2,
h1,
h3 {

    text-shadow: 2px 2px lightblue;

}

a {
    text-decoration: none;
    color: black;
}

footer {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    border-top-style: solid;
    height: auto;
}

img {
    border-radius: 1%;
    border-style: solid;
}

p {
    border-style: inset;
    height: auto;
    background: rgba(100, 100, 150, 0.8);
    border-radius: 2%;
    margin: 0.5%;
    padding: 0.5%

}

ul {
    list-style: none;
    margin-left: 0%;
}

#title {
    margin-right: 30%;
    margin-left: 30%;
    text-align: center;

}

.icontop {
    height: auto;
    width: 10%;
}

.iconbottom {
    height: 18%;
    width: 12%;
}

.leftbody {
    left: auto;
    justify-content: flex-start;
    background-color: #c4c4c4;

}

.rightbody {
    right: auto;
    justify-content: flex-end;

}

#hero2 {
    margin-left: 40%;
    border-style: none;
    position: absolute;
    z-index: 2;
    top: 180px;
    left: -160px;
    width: 40%;
    
}

#hero1 {
    margin-right: 40%;
    position: relative;
    border-style: none;
    z-index: 1;
    left: -500px;
    height: 90%;
    
    
}

.lead {

    align-content: center;
    margin-left: 40%;
    margin-bottom: 10%;
    margin-top: 5%;
}

.sources {
    display: flex;
    flex-direction: column;
    margin-left: 45%;
    margin-bottom: auto;
}