body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    position: relative;
    display: block;
    background-image: url('../images/wallpaper.jpg');
}

section {
    border-top-style: double;
    height: fit-content;
    display: flex;
    padding-bottom: 1%;
    padding-top: 1%;
    justify-content: flex-end;
}

footer {
    border-top-style: solid;
}

p {
    border-style: inset;
    height: auto;
    border-width: auto;
    background-color: lightslategrey, 0.4;

}

.icon {
    height: 9%;
    width: 6%;
}

.leftbody {
    justify-content: flex-start;
}

.rightbody {
    justify-content: flex-end;
}
