body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  position: relative;
  display: block;
}

section {
  border-top-style: double;
  height: 30vh;
  display: flex;

}

footer {
  border-top-style: solid;
}

p{
  border-style: inset;

}

.leftimg {
 margin-left:2%;
float:left; 
display: flex;
} 

.righttxt {
    width:30%;
    max-height:30px;
    padding:1%;
    float:left;
    flex: 1;
}

.rightimg {
 margin-right:2%;
float:right; 
display: flex;
} 

.lefttxt {
    width:30%;
    max-height:30px;
    padding:1%;
    float:right;
    flex: 1;
}

